<div class="app-container">
  <header class="top-bar">
    <div class="logo">
      <img src="../../../assets/Logo.png" alt="Farmaceutica S.A Logo" class="logo-img">
      <span>Farmaceutica S.A</span>
    </div>
    <div class="top-menu">
      <div class="dropdown">
        <button class="user-btn" @click="toggleDropdown"><i class="fas fa-user"></i> Admin</button>
        <ul v-if="isDropdownVisible" class="dropdown-menu">
          <li @click="showChangePasswordForm">Cambiar Contraseña</li>
        </ul>
      </div>
      <button class="logout-btn" @click="logOut"><i class="fas fa-sign-out-alt"></i> Logout</button>
      <div class="notifications">
        <button class="notifications-btn" @click="toggleNotifications">
          <i class="fas fa-bell"></i>
          <span v-if="unreadNotifications.length > 0" class="notification-badge">{{ unreadNotifications.length }}</span>
        </button>
        <div v-if="isNotificationsVisible" class="notifications-dropdown">
          <ul>
            <li v-for="(notification, index) in unreadNotifications" :key="index">
              <p>{{ notification.message }}</p>
              <div class="notification-actions">
                <button @click="viewNotification(index)">Ver</button>
                <button @click="ignoreNotification(index)">Ignorar</button>
              </div>
            </li>
          </ul>
          <p v-if="unreadNotifications.length === 0">No hay notificaciones nuevas</p>
        </div>
      </div>
    </div>
  </header>
  <aside class="sidebar">
    <nav class="menu">
      <ul>
        <li @click="viewSell"><i class="fa-solid fa-cart-shopping"></i>Vender</li>
        <li @click="viewStock"><i class="fas fa-box"></i> Stock</li>
        <li @click="viewUsers"><i class="fas fa-users"></i> Usuarios</li>
        <li class="active"><i class="fa-solid fa-file-invoice"></i>Ordenes</li>
        <li @click="viewReports"><i class="fas fa-chart-bar"></i> Reportes</li>
        <li @click="viewLaboratory"><i class="fa-solid fa-parachute-box"></i>Proveedores</li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <header class="header">
      <div class="header-title">Ordenes</div>
    </header>
    <div class="user-table-container">
      <table class="order-table">
        <thead>
          <tr>
            <th>Cod. Orden</th>
            <th>Proveedor</th>
            <th>Productos</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(order, index) in orders" :key="order.codOrder">
            <td>
              <span>{{ order.codOrder }}</span>
            </td>
            <td>
              <span>{{ order.nameSupplier }}</span>
            </td>
            <td>
              <button @click="openProductsModal(order.products)" class="view-products-btn">Ver productos</button>
            </td>            
            <td>
              <span>{{ new Date(order.dateRegister).toLocaleDateString() }}</span>
            </td>
            <td>
              <select v-if="editIndex === index" v-model="temporaryState" @change="handleStateChange(order, index)" class="edit-input" 
              :disabled="order.state==='Recibida'">
                <option value="En progreso">En progreso</option>
                <option value="Rechazado">Rechazado</option>
                <option value="Cancelado">Cancelado</option>
                <option value="Recibida">Recibida</option>
              </select>
              <span v-else>{{ order.state }}</span>
            </td>    
            <td class="action-buttons">
              <button v-if="editIndex === index" class="confirm-btn" @click="reloadPage">
                <i class="fas fa-check"></i>
              </button>
              <button v-else class="edit-btn" @click="startEdit(order, index)">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button v-for="page in pageNumbers" :key="page" :class="{ active: currentPage === page }"
          @click="currentPage = page">
          {{ page }}
        </button>
      </div>
    </div>
  </div>

  <div v-if="isProductsModalVisible" class="products-view-modal">
    <div class="products-modal-content">
      <h2>
        <i class="fas fa-box-open"></i> Productos de la Orden
      </h2>
      <table class="products-table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Laboratorio</th>
            <th>Cantidad</th>
            <th>Precio Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in selectedProducts" :key="product.nameProduct">
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.laboratory }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{product.price}}</td>
          </tr>
        </tbody>
      </table>
      <button class="close-products-btn" @click="closeProductsModal">
        <i class="fas fa-times"></i> Cerrar
      </button>
    </div>
  </div>
  
  <div v-if="isOrderEditModalVisible" class="order-edit-modal">
    <div class="order-modal-content">
      <h2>
        <i class="fas fa-edit"></i> Editar Orden [{{ selectedOrder.codOrder }}]
      </h2>
      <table class="products-edit-table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Laboratorio</th>
            <th>Cantidad</th>
            <th>Precio de compra</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(product, index) in selectedOrder.products" :key="product.nameProduct">
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.laboratory }}</td>
            <td>
              <input type="number" v-model.number="product.newQuantity" min="1" class="edit-input" />
            </td>
            <td>
              <input type="number" v-model.number="product.price" step="0.01" min="0.01" class="edit-input" />
            </td>
            <td>
              <button class="cancel-product-btn" @click="removeProduct(index)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-actions">
        <button class="save-changes-btn" @click="saveOrderChanges">
          <i class="fas fa-save"></i> Guardar Cambios
        </button>
        <button class="close-modal-btn" @click="closeOrderEditModal">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </div>
  </div>  
  <div v-if="isLotModalVisible" class="lot-modal-overlay" @click="closeLotModal"></div>
  <div v-if="isLotModalVisible" class="lot-modal">
    <div class="modal-lot">
      <h2>
        <i class="fas fa-box"></i> Editar Lotes [{{ selectedOrder.codOrder }}]
      </h2>
      <table class="products-table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Laboratorio</th>
            <th>Cantidad</th>
            <th>Lote</th>
            <th>Precio de venta</th>
            <th>Fecha de Vencimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(product, index) in selectedOrder.products" :key="product.nameProduct">
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.laboratory }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <input
                type="text"
                v-model="product.lot"
                placeholder="Ingrese el lote"
                class="lot-input"
              />
            </td>
            <td>
              <input
                step="0.01" 
                min="0.01" 
                type="text"
                v-model="product.price"
                placeholder="Ingrese el precio"
                class="price-input"
              />
            </td>
            <td>
              <input id="product-expiry" type="date" v-model="product.expirationDate" required />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-actions-lot">
        <button @click="saveLotChanges" class="save-btn-lot">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button @click="closeLotModal" class="close-btn-lot">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </div>
  </div>  

  <div v-if="isLowStockModalVisible" class="low-stock-modal">
    <h2><i class="fas fa-exclamation-triangle"></i> Productos Bajos en Stock</h2>
    <table class="low-stock-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Laboratorio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in lowStockProducts" :key="product.codProduct">
          <td>{{ product.nameProduct }}</td>
          <td>{{ product.laboratory }}</td>
          <td>{{ product.quantity }}</td>
        </tr>
      </tbody>
    </table>
    <div class="modal-actions">
      <button class="generate-order-btn" @click="generateOrder"><i class="fas fa-file-alt"></i> Generar
        Orden</button>
      <button class="close-modal-btn" @click="closeLowStockModal"><i class="fas fa-times"></i> Cerrar</button>
    </div>
  </div>
  <div v-if="isOrderModalVisible" class="order-modal">
    <div class="modal-content">
      <h2><i class="fas fa-shopping-cart"></i> Generar Nueva Orden</h2>
      <table class="order-table">
        <thead>
          <tr>
            <th> Nombre</th>
            <th>Laboratorio</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in selectedProducts" :key="product.codProduct">
            <td>{{ product.nameProduct }}</td>
            <td>{{ product.laboratory }}</td>
            <td>
              <input type="number" v-model.number="product.newQuantity" min="1" placeholder="Cantidad" />
            </td>
            <td>
              <select v-model="product.selectedSupplier" :disabled="product.addedToOrder">
                <option value="" disabled>Seleccione un proveedor</option>
                <option v-for="supplier in product.suppliers" :key="supplier.nameSupplier"
                  :value="supplier.nameSupplier">
                  {{ supplier.nameSupplier }}
                </option>
              </select>
            </td>
            <td>
              <button
                :class="{'remove-from-order-btn': product.addedToOrder, 'add-to-order-btn': !product.addedToOrder}"
                @click="toggleOrder(product)">
                <i :class="product.addedToOrder ? 'fas fa-minus' : 'fas fa-plus'"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-actions">
        <button class="close-modal-btn" @click="closeOrderModal">
          <i class="fas fa-times"></i> Cerrar
        </button>
        <button class="create-order-btn" @click="sendOrder">
          <i class="fas fa-check-circle"></i> Crear Orden
        </button>
      </div>
    </div>
  </div>
</div>