<div class="app-container">
  <!-- Top Bar -->
  <header class="top-bar">
    <div class="logo">
      <img src="../../../assets/Logo.png" alt="Farmaceutica S.A Logo" class="logo-img" />
      <span>Farmaceutica S.A</span>
    </div>
    <div class="top-menu">
      <div class="dropdown">
        <button class="user-btn" @click="toggleDropdown">
          <i class="fas fa-user"></i> Admin
        </button>
        <ul v-if="isDropdownVisible" class="dropdown-menu">
          <li @click="showChangePasswordForm">Cambiar Contraseña</li>
        </ul>
      </div>
      <button class="logout-btn" @click="logOut">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar">
    <nav class="menu">
      <ul>
        <li @click="viewSell"><i class="fa-solid fa-cart-shopping"></i>Vender</li>
        <li @click="viewStock"><i class="fas fa-box"></i> Stock</li>
        <li @click="viewUsers"><i class="fas fa-users"></i> Users</li>
        <li><i class="fas fa-cogs"></i> Control Panel</li>
        <li><i class="fas fa-chart-bar"></i> Reports</li>
        <li @click="viewLaboratory"><i class="fa-solid fa-parachute-box"></i>Proveedores</li>
        <li><i class="fas fa-cog"></i> Config</li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <header class="header">
      <div class="header-title">Proveedores</div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar proveedor" v-model="search" />
        <button class="search-btn" @click="searchProvider(search)">
          <i class="fas fa-search"></i> Buscar
        </button>
      </div>
      <button class="add-btn" @click="openAddProviderModal">
        <i class="fas fa-plus"></i> Agregar Proveedor
      </button>
    </header>

    <div class="user-table-container">
      <table class="user-table">
        <thead>
          <tr>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Laboratorios</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(provider, index) in provider" :key="index">
            <td>{{ provider.nit }}</td>
            <td>
              <input
                v-if="editIndex === index"
                v-model="editableProvider.nameSupplier"
                type="text"
                class="edit-input"
              />
              <span v-else>{{ provider.nameSupplier }}</span>
            </td>
            <td>
              <button @click="openLaboratoryModal(provider)" class="btn btn-view-labs">Ver Laboratorios</button>
            </td>          
            <td>
              <input
                v-if="editIndex === index"
                v-model="editableProvider.emailSupplier"
                type="text"
                class="edit-input"
              />
              <span v-else>{{ provider.emailSupplier }}</span>
            </td>
            <td>
              <input
                v-if="editIndex === index"
                v-model="editableProvider.phoneSupplier"
                type="text"
                class="edit-input"
              />
              <span v-else>{{ provider.phoneSupplier }}</span>
            </td>
            <td>
              <button v-if="editIndex === index" class="confirm-btn" @click="confirmEdit(index)">
                <i class="fas fa-check"></i>
              </button>
              <button v-else class="edit-btn" @click="startEdit(provider, index)">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="pagination">
      <button
        v-for="page in pageNumbers"
        :key="page"
        :class="{ active: currentPage === page }"
        @click="currentPage = page"
      >
        {{ page }}
      </button>
    </div>
  </div>
</div>

<div v-if="isModalOpen" class="modal">
  <div class="modal-content">
    <h3 class="modal-title">Editar Laboratorios</h3>
    <div class="modal-body">
      <!-- Búsqueda de laboratorios -->
      <input
        v-model="searchTerm"
        type="text"
        class="search-input"
        placeholder="Buscar laboratorios"
        @input="filterLaboratories"
      />
      <!-- Resultados de búsqueda -->
      <ul v-if="filteredLaboratories.length > 0" class="dropdown-list-modal">
        <li
          v-for="lab in filteredLaboratories"
          :key="lab.id"
          class="dropdown-item-modal"
          @click="addLaboratoryFromModal(lab)"
        >
          {{ lab.name }}
        </li>
      </ul>
      <!-- Laboratorios seleccionados -->
      <div class="selected-laboratories">
        <ul>
          <li
            v-for="(lab, index) in selectedLaboratories"
            :key="index"
            class="selected-item"
          >
            {{ lab }}
            <button class="remove-btn" @click="removeLaboratoryFromModal(index)">
              ✖
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Acciones del modal -->
    <div class="modal-actions">
      <button class="btn btn-primary" @click="updateLaboratories">Actualizar</button>
      <button class="btn btn-secondary" @click="closeLaboratoryModal">Cancelar</button>
    </div>
  </div>
</div>


  <div v-if="isAddProviderModalVisible" class="modal">
    <div class="modal">
      <div class="modal-content">
        <h3>Agregar Proveedor</h3>
        <form @submit.prevent="submitProvider">
          <div class="form-group">
            <label for="nit"><i class="fas fa-id-card"></i> NIT</label>
            <input
              type="text"
              id="nit"
              v-model="newProvider.nit"
              placeholder="Ingrese el NIT del proveedor"
            />
          </div>
          <div class="form-group">
            <label for="provider-name"><i class="fas fa-building"></i> Nombre del Proveedor</label>
            <input
              type="text"
              id="provider-name"
              v-model="newProvider.nameSupplier"
              placeholder="Ingrese el nombre del proveedor"
            />
          </div>
          <div class="form-group">
            <label for="phone"><i class="fas fa-phone"></i> Teléfono</label>
            <input
              type="text"
              id="phone"
              v-model="newProvider.phoneSupplier"
              placeholder="Ingrese el número de teléfono"
            />
          </div>
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i> Correo Electrónico</label>
            <input
              type="email"
              id="email"
              v-model="newProvider.emailSupplier"
              placeholder="Ingrese el correo electrónico"
            />
          </div>
  
          <div class="form-group">
            <label for="laboratories">
              <i class="fas fa-flask"></i> Seleccionar Laboratorios
            </label>
            <div class="dropdown-container">
              <div class="input-wrapper">
                <i class="fas fa-search input-icon"></i>
                <input 
                  type="text" 
                  id="laboratories" 
                  v-model="searchTerm" 
                  placeholder="Buscar laboratorio..." 
                  @input="filterLaboratories"
                  class="dropdown-input"
                  @blur="onBlur"
                />
              </div>
              <ul class="dropdown-list" v-if="filteredLaboratories.length > 0">
                <li 
                  v-for="laboratory in filteredLaboratories" 
                  :key="laboratory.id" 
                  @click="addLaboratory(laboratory)" 
                  class="dropdown-item"
                >
                  {{ laboratory.name }}
                </li>
              </ul>
            </div>
            <div class="selected-tags">
              <div 
                class="tag" 
                v-for="(lab, index) in selectedLaboratories" 
                :key="lab.id"
              >
                {{ lab.name }}
                <button class="remove-btn" @click="removeLaboratory(index)">✖</button>
              </div>
            </div>
          </div>
          <div class="modal-actions">
            <button type="submit" class="btn-submit">
              <i class="fas fa-check"></i> Guardar
            </button>
            <button type="button" class="btn-cancel" @click="closeAddProviderModal">
              <i class="fas fa-times"></i> Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>
