.recovery-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #16222a 0%, #3a6073 100%);
}

.recovery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: rgba(19, 35, 47, 0.5);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(1);
  opacity: 1;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: scale(0.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.title-container {
  width: 80%;
  background-color: #1ab188;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -30px;
  text-align: center;
}

.title {
  color: white;
  font-size: xx-large;
  margin: 0;
}

.message {
  text-align: center;
  font-size: large;
  color: white;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: larger;
  margin-top: 1rem;
  color: #d9d9d9;
}

.form-input {
  padding: 10px;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  background: none;
  color: white;
  width: 100%;
  outline: none;
  transition: border-bottom-color 0.3s ease;
}

.form-input:focus {
  border-bottom-color: #1ab188;
}

.form-submit {
  background: #1ab188;
  border: none;
  border-radius: 25px;
  color: white;
  margin-top: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-submit:hover {
  background: #0b9185;
  transform: translateY(-2px);
}

.form-submit:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
