<div class="app-container">
  <header class="top-bar">
    <div class="logo">
      <img src="../../../assets/Logo.png" alt="Farmaceutica S.A Logo" class="logo-img">
      <span>Farmaceutica S.A</span>
    </div>
    <div class="top-menu">
      <div class="dropdown">
        <button class="user-btn" @click="toggleDropdown"><i class="fas fa-user"></i> Admin</button>
        <ul v-if="isDropdownVisible" class="dropdown-menu">
          <li @click="showChangePasswordForm">Cambiar Contraseña</li>
        </ul>
      </div>
      <button class="logout-btn" @click="logOut"><i class="fas fa-sign-out-alt"></i> Logout</button>
      <div class="notifications">
        <button class="notifications-btn" >
          <i class="fas fa-bell"></i>
          <span v-if="unreadNotifications.length > 0" class="notification-badge">{{ unreadNotifications.length }}</span>
        </button>
        <div v-if="isNotificationsVisible" class="notifications-dropdown">
          <ul>
            <li v-for="(notification, index) in unreadNotifications" :key="index">
              <div class="notification-actions">
                <button>Ver</button>
                <button>Ignorar</button>
              </div>
            </li>
          </ul>
          <p v-if="unreadNotifications.length === 0">No hay notificaciones nuevas</p>
        </div>
      </div>      
    </div>
  </header>  
  <aside class="sidebar">
    <nav class="menu">
      <ul>
        <li class="active"><i class="fa-solid fa-cart-shopping"></i>Vender</li>
      </ul>
    </nav>
  </aside>
  <div class="main-content">
    <div class="actions-container">
      <div class="search-container">
        <button @click="toggleSearchBar"><i class="fas fa-search"></i></button>
        <input type="text" class="search-bar" v-bind:class="{ active: isSearchBarVisible }" v-model="search"
          @keyup.enter="searchProduct" placeholder="Buscar producto..." />
      </div>
      <button class="cart-btn" @click="toggleCart">
        <i class="fas fa-shopping-cart"></i> Carrito ({{ cart.length }})
      </button>
    </div>

    <div class="products-grid">
      <div v-for="(product, index) in paginatedProducts" :key="product.id" class="product-card">
        <div class="image-container">
          <img
            v-if="product?.image && !loadingImages[index]"
            :src="product.image"
            :alt="`Imagen de ${product?.nameProduct || 'Producto'}`"
            class="product-image"
            @load="handleImageLoad(index)"
            @error="handleImageError(index)"
          />
          <div v-else class="image-placeholder">
            <div class="spinner"></div> 
          </div>
        </div>
        <div class="product-info">
          <p class="product-name">{{ product.nameProduct }}</p>
          <p class="product-laboratory">{{ product.laboratory }}</p>
          <p class="product-description">{{ product.describeProduct }}</p>
          <p class="product-quantity">{{ product.quantity }}</p>
          <p class="product-price" > {{ product.priceSell }}</p>
        </div>
    
        <div class="quantity-controls">
          <p style="font-weight: bold;">Vender: </p>
         <input 
            type="number" 
            v-model.number="product.selectedQuantity" 
            class="quantity-input" 
            :max="product.quantity" 
            min="1" 
            @blur="setDefaultQuantity(index)"
          />
        </div>
    
        <button class="add-lot-btn" @click="addProductToCart(product)">
          <i class="fas fa-plus-circle"></i> Agregar a factura
        </button>
      </div>
    </div>    
    <div class="pagination">
      <button v-for="page in totalPages" :key="page" @click="goToPage(page)" :class="{'active': currentPage === page}">
        {{ page }}
      </button>
    </div>   
    <div v-if="isCartVisible" class="cart-modal">
      <div class="cart-content">
        <h2><i class="fas fa-shopping-cart"></i> Carrito de Compras</h2>
        <ul>
          <li v-for="item in cart" :key="item.id">
            <span><i class="fas fa-box"></i> {{ item.nameProduct }}</span>
            <span><i class="fas fa-cogs"></i> Cantidad: {{ item.selectedQuantity }}</span>
            <span><i class="fas fa-dollar-sign"></i> Total: ${{ (item.selectedQuantity * item.priceSell).toFixed(2) }}</span>
            <button @click="removeFromCart(item)" class="remove-btn"><i class="fas fa-trash-alt"></i> Eliminar</button>
          </li>
        </ul>
        <p><strong><i class="fas fa-calculator"></i> Total del carrito:</strong> ${{ cartTotal.toFixed(2) }}</p>
        <div class="modal-buttons">
          <button @click="showCheckoutModal" class="checkout-btn"><i class="fas fa-check-circle"></i> Finalizar Compra</button>
          <button @click="toggleCart" class="close-cart-btn"><i class="fas fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
    
    <div v-if="isCheckoutModalVisible" class="checkout-modal">
      <div class="checkout-content">
        <h2><i class="fas fa-credit-card"></i> Finalizar Compra</h2>
        
        <div class="form-group">
          <label for="date">Fecha</label>
          <input type="date" id="date" v-model="checkoutData.date" readonly />
        </div>
        
        <div class="form-group">
          <label for="clientDocument">Documento Cliente</label>
          <input type="text" id="clientDocument" v-model="checkoutData.clientDocument" placeholder="Ingrese el documento del cliente" required />
        </div>
        
        <div class="form-group">
          <label for="products">Productos</label>
          <ul>
            <li v-for="item in cart" :key="item.id">
              {{ item.nameProduct }} - Cantidad: {{ item.selectedQuantity }} - Total: ${{ (item.selectedQuantity * item.priceSell).toFixed(2) }}
            </li>
          </ul>
        </div>
    
        <div class="form-group">
          <label for="paymentType">Tipo de Pago</label>
          <select id="paymentType" v-model="checkoutData.paymentType">
            <option value="efectivo">Efectivo</option>
            <option value="tarjeta">Tarjeta</option>
            <option value="transferencia">Transferencia</option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="subtotal">Sub Total</label>
          <input type="text" id="subtotal" :value="cartTotal.toFixed(2)" readonly />
        </div>
    
        <div class="form-group">
          <label for="iva">IVA ({{ ivaRate }}%)</label>
          <input type="text" id="iva" :value="iva.toFixed(2)" readonly />
        </div>
    
        <div class="form-group">
          <label for="total">Total</label>
          <input type="text" id="total" :value="total.toFixed(2)" readonly />
        </div>
    
        <div class="modal-buttons">
          <button @click="acceptPurchase" class="accept-btn">
            <i class="fas fa-check"></i> Aceptar
          </button>
          <button @click="closeCheckoutModal" class="close-checkout-btn">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </div>
    </div>             
  </div>
</div>