<div class="app-container">
    <header class="top-bar">
        <div class="logo">
            <img src="../../../assets/Logo.png" alt="Farmaceutica S.A Logo" class="logo-img">
            <span>Farmaceutica S.A</span>
          </div>
          <div class="top-menu">
            <div class="dropdown">
              <button class="user-btn" @click="toggleDropdown"><i class="fas fa-user"></i> Admin</button>
              <ul v-if="isDropdownVisible" class="dropdown-menu">
                <li @click="showChangePasswordForm">Cambiar Contraseña</li>
              </ul>
            </div>
            <button class="logout-btn" @click="logOut"><i class="fas fa-sign-out-alt"></i> Logout</button>
            <div class="notifications">
              <button class="notifications-btn" @click="toggleNotifications">
                <i class="fas fa-bell"></i>
                <span v-if="unreadNotifications.length > 0" class="notification-badge">{{ unreadNotifications.length }}</span>
              </button>
              <div v-if="isNotificationsVisible" class="notifications-dropdown">
                <ul>
                  <li v-for="(notification, index) in unreadNotifications" :key="index">
                    <p>{{ notification.message }}</p>
                    <div class="notification-actions">
                      <button @click="viewNotification(index)">Ver</button>
                      <button @click="ignoreNotification(index)">Ignorar</button>
                    </div>
                  </li>
                </ul>
                <p v-if="unreadNotifications.length === 0">No hay notificaciones nuevas</p>
              </div>
            </div> 
          </div>
    </header>
    <aside class="sidebar">
        <nav class="menu">
            <ul>
                <li @click="viewSells"><i class="fa-solid fa-cart-shopping"></i>Vender</li>
            </ul>
        </nav>
    </aside>
    <div class="change-password-form">
        <div class="form-title">
            <h2>Cambiar Contraseña</h2>
        </div>
        <form @submit.prevent="changePassword">
            <div class="form-group">
                <label for="currentPassword"><i class="fas fa-lock"></i> Contraseña Actual</label>
                <div class="input-container">
                    <input type="password" id="currentPassword" v-model="currentPassword" placeholder="Ingresa tu contraseña actual" required />
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword"><i class="fas fa-key"></i> Nueva Contraseña</label>
                <div class="input-container">
                    <input type="password" id="newPassword" v-model="newPassword" placeholder="Ingresa tu nueva contraseña" required />
                </div>
            </div>
            <button type="submit" class="submit-btn"><i class="fas fa-sync-alt"></i> Actualizar Contraseña</button>
        </form>
    </div>
</div>